.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  background: #333333;
  height: calc(100% - 50px);
  width: 100%;
  color: #ffffff;
  overflow: hidden;
  overflow-y: auto;
  place-content: start;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
