.App {
  background-color: darkgray;
  width: 100vw;
  height: 100vh;
}

.App > h2 {
  background-color: #333333;
  color: #ffffff;
  height: 50px;
  border-bottom: 0.2px solid #545454;
  display: flex;
  align-items: center;
  place-content: center;
  font-family: sans-serif;
}
